<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-0">
                    <div class="card-header card-header-primary">
                        <div class="col-md-10">
                            <h4 class="card-title">Listar Pacientes</h4>
                            <p class="card-category">Busca por nome e situação</p>
                        </div>
                        <div class="col-md-2">
                            <button mat-raised-button class="btn btn-secondary pull-right" routerLink="../cadastrar">
                                <i class="material-icons"> add </i>
                            </button>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card mt-0 mb-0">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput [(ngModel)]="nome" placeholder="Nome">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-4">
                                                <mat-form-field>
                                                    <mat-label>Situação</mat-label>
                                                    <mat-select [(ngModel)]="ativo" matNativeControl>
                                                        <mat-option value=true>Ativo</mat-option>
                                                        <mat-option value=false>Inativo</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-2">
                                                <button mat-raised-button (click)="pesquisar(true)" class="btn btn-primary pull-right">
                                                    <i class="material-icons">search</i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="dataSource && dataSource.data.length > 0" class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table" mat-table [dataSource]="dataSource" matSort (matSortChange)="handleSort($event)">

                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                            </ng-container>

                            <ng-container matColumnDef="cpf">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> CPF </th>
                                <td mat-cell *matCellDef="let row"> {{row.cpf}} </td>
                            </ng-container>

                            <ng-container matColumnDef="nome">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
                                <td mat-cell *matCellDef="let row"> {{row.nome}} </td>
                            </ng-container>

                            <ng-container matColumnDef="situacao">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header="ativo"> Situação </th>
                                <td mat-cell *matCellDef="let row"> {{row.ativo ? 'Ativo' : 'Inativo'}} </td>
                            </ng-container>

                            <!-- Action Column -->
                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef> Ações </th>
                                <td mat-cell *matCellDef="let element" class="td-actions">
                                    <button mat-button class="btn btn-info" type="button">
                                        <i class="material-icons">person</i>
                                    </button>
                                    <button mat-button class="btn btn-success" type="button">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button mat-button class="btn btn-danger" type="button" [swal]="deleteSwal">
                                        <i class="material-icons">close</i>
                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                        <mat-paginator #paginator [pageSize]="pageSize" [length]="totalSize" [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)"> </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<swal #deleteSwal title="Delete?" text="This cannot be undone" icon="question" [showCancelButton]="true" [focusCancel]="true" (confirm)="deleteUser()"> </swal>

<!-- <div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card mb-0">
          <div class="card-header card-header-primary">
            <div class="col-md-10">
              <h4 class="card-title">Listar Pacientes</h4>
              <p class="card-category">Busca por nome e situação</p>
            </div>
            <div class="col-md-2">
              <button mat-raised-button class="btn btn-secondary pull-right" routerLink="../cadastrar">
                <i class="material-icons"> add </i>
              </button>
            </div>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="card mt-0 mb-0">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                          <input matInput [(ngModel)]="nome" placeholder="Nome">
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field>
                          <mat-label>Situação</mat-label>
                          <mat-select [(ngModel)]="ativo" matNativeControl>
                            <mat-option value=true>Ativo</mat-option>
                            <mat-option value=false>Inativo</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-2">
                        <button mat-raised-button (click)="pesquisar(true)" class="btn btn-primary pull-right">
                          <i class="material-icons">search</i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <table class="table" mat-table [dataSource]="dataSource" matSort>

              ID Column
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
              </ng-container>

              Progress Column
              <ng-container matColumnDef="cpf">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> CPF </th>
                <td mat-cell *matCellDef="let row"> {{row.cpf}} </td>
              </ng-container>

              Name Column
              <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
                <td mat-cell *matCellDef="let row"> {{row.nome}} </td>
              </ng-container>

              Color Column
              <ng-container matColumnDef="situacao">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Situação </th>
                <td mat-cell *matCellDef="let row"> {{row.situacao}} </td>
              </ng-container>

              Action Column
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Ações </th>
                <td mat-cell *matCellDef="let element" class="td-actions man">
                  <button mat-button class="btn btn-info" type="button">
                    <i class="material-icons">person</i>
                  </button>
                  <button mat-button class="btn btn-success" type="button">
                    <i class="material-icons">edit</i>
                  </button>
                  <button mat-button class="btn btn-danger" type="button">

                    <i class="material-icons">close</i>
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;">
              </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>

        </div>
      </div>
    </div>
  </div>
</div> -->