<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
          <div class="margem">
              <button class="btn btn-success" [swal]="confirm"  >
                <i class="material-icons"> arrow_back </i>
              </button>
              
              <!-- <button (click)="openConfirmationDialog()" type="button" class="btn btn-primary">Open dialog</button> -->

            </div>
        <div class="card">
          <!-- <div class="card-header card-header-danger">
            <h4 class="card-title">Informações Paciente</h4>
            <p class="card-category">...</p>
          </div> -->
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nome" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Sobrenome" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Data de Nascimento">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="RG" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="CPF" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Sexo</mat-label>
                    <select matNativeControl required>
                      <option value="Masculino">Masculino</option>
                      <option value="Feminino">Feminino</option>
                    </select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <!-- <div class="col-md-5">
                    <input [style.background]="color1" [(colorPicker)]="color1"
                      (colorPickerOpen)="onEventLog('colorPickerOpen', $event)"
                      (colorPickerClose)="onEventLog('colorPickerClose', $event)"
                      (cpInputChange)="onEventLog('cpInputChange', $event)"
                      (cpSliderDragStart)="onEventLog('cpSliderDragStart', $event)"
                      (cpSliderDragEnd)="onEventLog('cpSliderDragEnd', $event)" />
                  </div> -->
                <!-- <div class="col-md-7">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Cadastro regional de medicina" type="text">
                  </mat-form-field>
                </div> -->
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Logradouro" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Número" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Bairro" type="text">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="CEP" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Complemento" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Cidade" type="text">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="E-mail" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Telefone" type="text">
                  </mat-form-field>
                </div>
                <!-- <div class="col-md-4">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" value="">
                      Contém Usuário
                      <span class="form-check-sign">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                </div> -->
              </div>
              <button mat-raised-button type="submit" class="btn btn-danger pull-right">Cadastrar Paciente</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <swal 
    #confirm 
    title="Delete?" 
    text="Deseja voltar sem salvar as alterações?" 
    type="question"
    [showCancelButton]="true" 
    [focusCancel]="true" 
    (confirm)="cancelCreatePaciente()">
  </swal>

<!-- modelo de teste abaixo, ou seja, ñ esta sendo usado -->
<!-- swal({
  title: "Are you sure?",
  text: "You will not be able to recover this imaginary file!",
  type: "warning",
  showCancelButton: true,
  cancelButtonColor: "#DD6B55",
  confirmButtonColor: "#DD6B55",
  confirmButtonText: "Yes, delete it!",
  cancelButtonText: "No, cancel please!",
  closeOnConfirm: false,
  closeOnCancel: false
}, function (isConfirm) {
  if (isConfirm) {
      swal("Deleted!", "Your imaginary file has been deleted.", "success");
  } else {
      swal("Cancelled", "Your imaginary file is safe :)", "error");
  }
}); -->





</div>

