<!-- <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Cadastrar novo Paciente</h4>
              <p class="card-category">Preencha o formulário abaixo</p>
            </div>
            <h4 class="card-body card-title pb-0">Dados do Paciente</h4>
  
            <div class="card-body pt-0">
              <form [formGroup]="formGroup" (ngSubmit)="CreatePaciente(); $event.preventDefault()">
                <div class="row">
  
                  <!-- Nome 
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input formControlName="nome" matInput placeholder="Nome" type="text" required>
                    </mat-form-field>
                  </div>
                <!-- </div>
  
                <!-- Sobrenome -->
                  <!-- <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input formControlName="sobrenome" matInput placeholder="Sobrenome" type="text" required>
                    </mat-form-field>
                  </div> -->
  
                <!-- Nascimento 
                <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input matInput [matDatepicker]="picker" placeholder="Data de Nascimento" required>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>

            </div>

            <div class="row">

              <!-- CPF 
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <input formControlName="cpf" matInput placeholder="CPF" type="number" class="example-right-align">
                  <span matPrefix>CPF&nbsp;</span>
                </mat-form-field>
              </div>
  
               <!-- Contato
               <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input formControlName="contato" matInput placeholder="Fone" type="number" class="example-right-align">
                    <span matPrefix>Fone&nbsp;</span>
                  </mat-form-field>
                </div>
  
                <!-- Endereço 
               <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input formControlName="endereco" matInput placeholder="Endereço" type="text" class="example-right-align">
                    <span matPrefix>Endereço&nbsp;</span>
                  </mat-form-field>
                </div>
  
                <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <mat-label>Sexo</mat-label>
                      <select matNativeControl required>
                        <option value="Masculino">Masculino</option>
                        <option value="Feminino">Feminino</option>
                      </select>
                    </mat-form-field>
                </div>
              <!-- situação 
              <!-- <div class="col-md-4">
                <div class="form-check">
                  <label class="form-check-label">
                    <input formControlName="ativo" class="form-check-input" type="checkbox" value="{{ a }}">
                    Ativar?
                    <span class="form-check-sign">
                      <span class="check"></span>
                    </span>
                  </label>
                </div>
              </div> 
  
            </div>
            <div class="row">
              <div class="col-md-12">
                <button mat-raised-button type="submit" class="btn btn-primary pull-right"
                  [disabled]="formGroup.invalid">Cadastrar</button>
                <div class="clearfix"></div>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <swal #dialog title="Sucesso!" text="Paciente criado com sucesso" type="success"></swal>
 -->

<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
          <div class="margem">
              <button class="btn btn-primary" [swal]="cancelCreatePacient"  >
                <i class="material-icons"> arrow_back </i>
              </button>
              

            </div>
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Cadastro de Paciente</h4>
            <p class="card-category">Preencha os campos abaixo para cadastrar um novo Paciente</p>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nome" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Sobrenome" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Data de Nascimento">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="RG" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="CPF" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Sexo</mat-label>
                    <select matNativeControl required>
                      <option value="Masculino">Masculino</option>
                      <option value="Feminino">Feminino</option>
                    </select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Logradouro" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Número" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Bairro" type="text">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="CEP" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Complemento" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Cidade" type="text">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="E-mail" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Telefone" type="text">
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button type="submit" class="btn btn-primary pull-right" 
                   [swal]="sucesso" >Cadastrar Paciente</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <swal 
    #cancelCreatePacient 
    title="Todas as alterações não salvas serão perdidas, Continuar?" 
    type="question"

    [showCancelButton]="true" 
    confirmButtonText= "Sim"

    [focusCancel]="true" 
    cancelButtonText= "Não"
    cancelButtonColor= "#DD6B55"

    (confirm)="cancelCreatePaciente()">
  </swal>

  <swal 
    #CreatePacient 
    title="Deseja confirmar o cadastro de um novo paciente?" 
    type="question"

    [showCancelButton]="true" 
    confirmButtonText= "Sim"
    [focusConfirm]="true" 

    cancelButtonText= "Não"
    cancelButtonColor= "#DD6B55"

    (confirm)="CreatePaciente()"
   
    
    >
    

    
  </swal>

  <swal
    #sucesso
    title= "Paciente gravado com sucesso!"
    
    type= "success"
    confirmButtonText= "ok"
    (confirm)="CreatePaciente()"
    >
  
  </swal>
</div>