<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header card-header-primary">
						<h4 class="card-title">Cadastrar novo funcionário</h4>
						<p class="card-category">Preencha o formulário abaixo</p>
					</div>
					<h4 class="card-body card-title pb-0">Dados Pessoais</h4>
					<div class="card-body pt-0">
						<form [formGroup]="formGroup" (ngSubmit)="cadastrar(); $event.preventDefault()">
							<div class="row">
								<div class="col-md-4">
									<mat-form-field class="example-full-width">
										<input formControlName="nome" matInput placeholder="Nome" type="text" required>
									</mat-form-field>
								</div>
								<div class="col-md-4">
									<mat-form-field>
										<input formControlName="nascimento" matInput [matDatepicker]="picker" placeholder="Data de Nascimento" required>
										<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
										<mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
									</mat-form-field>
								</div>
							</div>

							<div class="row">
								<div class="col-md-4">
									<mat-form-field class="example-full-width">
										<input formControlName="rg" matInput placeholder="RG" type="text" required>
									</mat-form-field>
								</div>
								<div class="col-md-4">
									<mat-form-field class="example-full-width">
										<input formControlName="cpf" matInput placeholder="CPF" type="text" required>
									</mat-form-field>
								</div>
								<div class="col-md-4">
									<mat-form-field>
										<mat-label>Sexo</mat-label>
										<mat-select formControlName="sexo" matNativeControl required>
											<mat-option value="M">Masculino</mat-option>
											<mat-option value="F">Feminino</mat-option>
										</mat-select>
									</mat-form-field>
								</div>
							</div>

							<div class="row">
								<div class="col-md-4">
									<mat-form-field>
										<mat-label>Tipo de Funcionário</mat-label>
										<mat-select formControlName="tipo" (selectionChange)="updateTipo()" matNativeControl required>
											<mat-option *ngFor="let tipo of tiposFuncionarios;" [value]="tipo.cod">{{tipo.descricao}}</mat-option>
										</mat-select>
									</mat-form-field>
								</div>
								<div class="col-md-4" *ngIf="isDentist">
									<mat-form-field class="example-full-width">
										<input class="height-15" formControlName="corAgenda" matInput placeholder="Cor para Agenda" type="color">
									</mat-form-field>
									<!-- <button mat-raised-button type="submit" class="btn" [style.background]="color1" [(colorPicker)]="color1" (colorPickerOpen)="onEventLog('colorPickerOpen', $event)" (colorPickerClose)="onEventLog('colorPickerClose', $event)" (cpInputChange)="onEventLog('cpInputChange', $event)" (cpSliderDragStart)="onEventLog('cpSliderDragStart', $event)" (cpSliderDragEnd)="onEventLog('cpSliderDragEnd', $event)">Cor para agenda</button> -->
								</div>
								<div class="col-md-4" *ngIf="isDentist">
									<mat-form-field class="example-full-width">
										<input formControlName="crmCro" matInput placeholder="CRM ou CRO" type="text">
									</mat-form-field>
								</div>
							</div>

							<h4 class="card-body card-title pl-0 pb-0">Endereço</h4>
							<div class="card-body pl-0 pr-0 pt-0 pb-0">
								<div class="row">
									<div class="col-md-4">
										<mat-form-field class="example-full-width">
											<input formControlName="logradouro" matInput placeholder="Logradouro" type="text" required>
										</mat-form-field>
									</div>
									<div class="col-md-4">
										<mat-form-field class="example-full-width">
											<input formControlName="bairro" matInput placeholder="Bairro" type="text" required>
										</mat-form-field>
									</div>
									<div class="col-md-4">
										<mat-form-field class="example-full-width">
											<input formControlName="numero" matInput placeholder="Número" type="text" required>
										</mat-form-field>
									</div>
								</div>

								<div class="row">
									<div class="col-md-4">
										<mat-form-field class="example-full-width">
											<input formControlName="cep" matInput placeholder="CEP" type="text" required>
										</mat-form-field>
									</div>
									<div class="col-md-4">
										<mat-form-field class="example-full-width">
											<input formControlName="complemento" matInput placeholder="Complemento" type="text">
										</mat-form-field>
									</div>
									<div class="col-md-4">
										<mat-form-field>
											<mat-label>Pais</mat-label>
											<mat-select formControlName="idPais" (selectionChange)="updateEstados()" matNativeControl required>
												<mat-option *ngFor="let pais of paises;" [value]="pais.id">{{pais.nome}}</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
								</div>

								<div class="row">
									<div class="col-md-4">
										<mat-form-field>
											<mat-label>Estado</mat-label>
											<mat-select formControlName="idEstado" (selectionChange)="updateCidades()" matNativeControl required>
												<mat-option *ngFor="let estado of estados;" [value]="estado.id">{{estado.nome}}</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
									<div class="col-md-4">
										<mat-form-field>
											<mat-label>Cidade</mat-label>
											<mat-select formControlName="idCidade" matNativeControl required>
												<mat-option *ngFor="let cidade of cidades;" [value]="cidade.id">{{cidade.nome}}</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
								</div>
							</div>

							<h4 class="card-body card-title pl-0 pb-0">Contato</h4>
							<div class="card-body pl-0 pr-0 pt-0 pb-0">
								<div class="row">
									<div class="col-md-4">
										<mat-form-field class="example-full-width">
											<input formControlName="email" matInput placeholder="E-mail" type="email" [value]="formGroup.value.email" required>
										</mat-form-field>
									</div>
									<div class="col-md-4">
										<mat-form-field class="example-full-width">
											<input formControlName="telefone1" matInput placeholder="Telefone" type="tel" required>
										</mat-form-field>
									</div>
									<div class="col-md-4">
										<mat-form-field class="example-full-width">
											<input formControlName="telefone2" matInput placeholder="Telefone 2" type="tel">
										</mat-form-field>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-4">
									<div class="form-check">
										<label class="form-check-label">
											<input class="form-check-input" type="checkbox" (click)="isWorkerUser()" value="{{isUser}}">
											Adicionar Usuário
											<span class="form-check-sign">
												<span class="check"></span>
											</span>
										</label>
									</div>
								</div>
							</div>

							<h4 class="card-body card-title pl-0 pb-0" *ngIf="hasUser">Dados do Usuário</h4>
							<div class="card-body pl-0 pr-0 pt-0 pb-0" *ngIf="hasUser">
								<div class="row">
									<div class="col-md-4">
										<mat-form-field class="example-full-width">
											<input formControlName="email" matInput placeholder="Login" type="email" [value]="formGroup.value.email">
										</mat-form-field>
									</div>
									<div class="col-md-3">
										<mat-form-field class="example-full-width">
											<input formControlName="senha" matInput placeholder="Senha" type="password">
										</mat-form-field>
									</div>

									<div class="col-md-3">
										<mat-form-field>
											<mat-label>Permissões</mat-label>
											<mat-select formControlName="permissoes" matNativeControl multiple>
												<mat-option *ngFor="let permissao of permissoes;" [value]="permissao.cod">{{permissao.descricao}}</mat-option>
											</mat-select>
										</mat-form-field>
									</div>

									<div class="col-md-2">
										<div class="form-check">
											<label class="form-check-label">
												<input formControlName="ativo" class="form-check-input" type="checkbox">
												Ativo
												<span class="form-check-sign">
													<span class="check"></span>
												</span>
											</label>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-12">
										<label class="image-upload-container btn btn-primary">
											<span>Selecione uma imagem de perfil</span>
											<input class="d-none" #imageInput type="file" accept="image/*" (change)="processFile(imageInput)">
										</label>

										<div *ngIf="selectedFile" class="img-preview-container">
											<div class="img-preview{{selectedFile.status === 'fail' ? '-error' : ''}}" [ngStyle]="{'background-image': 'url('+ selectedFile.src + ')'}">
											</div>

											<div *ngIf="selectedFile.pending" class="img-loading-overlay">
												<div class="img-spinning-circle"></div>
											</div>

											<div *ngIf="selectedFile.status === 'fail'" class="alert alert-danger"> Não foi possível selecionar a imgem!</div>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12">
									<button mat-raised-button type="submit" class="btn btn-primary pull-right" [disabled]="formGroup.invalid">Cadastrar</button>
									<div class="clearfix"></div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <div class="col-md-4">
      <div class="color-picker">
        <mat-button-toggle-group #group="matButtonToggleGroup">
          <mat-button-toggle class="circle" style="background: #230455" value="left"
            aria-label="Text align left">
          </mat-button-toggle>
          <mat-button-toggle class="circle" style="background: #630455" value="center"
            aria-label="Text align center">
          </mat-button-toggle>
          <mat-button-toggle class="circle" style="background: #A02525" value="right"
            aria-label="Text align right">
          </mat-button-toggle>
          <mat-button-toggle class="circle" style="background: #B30455" value="justify"
            aria-label="Text align justify">
          </mat-button-toggle>
        </mat-button-toggle-group>
        <div class="example-selected-value">Selected value: {{group.value}}</div>
      </div>
    </div> -->