<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <h4 class="card-body card-title">Dados Pessoais</h4>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nome" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Sobrenome" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Data de Nascimento">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="RG" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="CPF" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Sexo</mat-label>
                    <select matNativeControl required>
                      <option value="Masculino">Masculino</option>
                      <option value="Feminino">Feminino</option>
                    </select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" (click)="isWorkerUser()" value="{{isUser}}">
                      Contém Usuário
                      <span class="form-check-sign">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" (click)="isWorkerDentist()" value="{{isDentist}}">
                      É Dentista
                      <span class="form-check-sign">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <h4 class="card-body card-title" *ngIf="isDentist">Dados do Dentista</h4>
          <div class="card-body" *ngIf="isDentist">
            <div class="row">
              <div class="col-md-4">
                <button mat-raised-button type="submit" class="btn" [style.background]="color1" [(colorPicker)]="color1"
                  (colorPickerOpen)="onEventLog('colorPickerOpen', $event)"
                  (colorPickerClose)="onEventLog('colorPickerClose', $event)"
                  (cpInputChange)="onEventLog('cpInputChange', $event)"
                  (cpSliderDragStart)="onEventLog('cpSliderDragStart', $event)"
                  (cpSliderDragEnd)="onEventLog('cpSliderDragEnd', $event)">Cor para agenda</button>
              </div>
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Cadastro regional de medicina" type="text">
                </mat-form-field>
              </div>
            </div>
          </div>
          <h4 class="card-body card-title" *ngIf="hasUser">Dados do Usuário</h4>
          <div class="card-body" *ngIf="hasUser">
            <div class="row">
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Usuário" type="text">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Senha" type="password">
                </mat-form-field>
              </div>
            </div>
          </div>
          <h4 class="card-body card-title">Endereço</h4>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Logradouro" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Bairro" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Número" type="text">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="CEP" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Complemento" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Cidade" type="text">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Estado" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="País" type="text">
                  </mat-form-field>
                </div>
              </div>
            </form>
          </div>
          <h4 class="card-body card-title">Contato</h4>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="E-mail" type="email">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Telefone" type="tel">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Telefone 2" type="tel">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button mat-raised-button type="submit" class="btn btn-danger pull-right">Pronto</button>
                  <div class="clearfix"></div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="col-md-4">
      <div class="color-picker">
        <mat-button-toggle-group #group="matButtonToggleGroup">
          <mat-button-toggle class="circle" style="background: #230455" value="left"
            aria-label="Text align left">
          </mat-button-toggle>
          <mat-button-toggle class="circle" style="background: #630455" value="center"
            aria-label="Text align center">
          </mat-button-toggle>
          <mat-button-toggle class="circle" style="background: #A02525" value="right"
            aria-label="Text align right">
          </mat-button-toggle>
          <mat-button-toggle class="circle" style="background: #B30455" value="justify"
            aria-label="Text align justify">
          </mat-button-toggle>
        </mat-button-toggle-group>
        <div class="example-selected-value">Selected value: {{group.value}}</div>
      </div>
    </div> -->